.about-us-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./barn.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .title-container h1 {
    font-size: 3vw; /* Mindre typsnittsstorlek för rubriken /
    color: #fff;
    margin-bottom: 20px;
  }

  .description-container p {
    font-size: 1.5vw; / Mindre typsnittsstorlek för texten */
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .description-container p:last-child {
    margin-bottom: 0;
  }
