/* contactPage.css */
.backgroundcolor {
  background-color: #f2f2f2;
  padding: 2vw; /* Använder viewport width för padding */
}

.header {
  text-align: center;
  margin-bottom: 2vh; /* Använder viewport height för margin */
}

.produkt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* justerar avståndet mellan produkterna */
  gap: 2vw; /* Använder viewport width för gap */
}
.produkt-item {
  background-color: #ffffff;
  border-radius: 1vw; /* Använder viewport width för border-radius */
  box-shadow: 0px 1vw 1.5vw rgba(0, 0, 0, 0.1); /* Använder viewport width för box-shadow */
  padding: 1vw; /* Använder viewport width för padding */
  width: calc(30% - 2vw); /* 3 produkter per rad med mellanrum på 2vw */
  text-align: center;
}

.produkt-image {
  width: 10vw; /* Fyller förälders bredd */
  height: 25vh; /* Behåller bildens proportioner */
  
  object-fit: cover;
  margin-bottom: 1vw; /* Använder viewport width för margin */
}

.produkt-details {
  display: flex;
  flex-direction: column;
}

.produkt-price {
  font-weight: bold;
  margin-bottom: 1vw; /* Använder viewport width för margin */
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1vw; /* Använder viewport width för padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw; /* Använder viewport width för fontstorlek */
  margin: 1vw; /* Använder viewport width för margin */
  cursor: pointer;
  border-radius: 50%;
  width: 5vw; /* Använder viewport width för bredd */
  height: 5vw; /* Använder viewport width för höjd */
}

.add-to-cart-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1vw 2vw; /* Använder viewport width för padding */
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw; /* Använder viewport width för fontstorlek */
  cursor: pointer;
  border-radius: 1vw; /* Använder viewport width för border-radius */
}
.show-cart-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1vw 2vw; /* Använder viewport width för padding */
  text-align: center;
  margin-left: 55vw;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw; /* Använder viewport width för fontstorlek */
  cursor: pointer;
  border-radius: 1vw; /* Använder viewport width för border-radius */
}

.add-to-cart-button:hover,
.show-cart-button:hover {
  background-color: #45a049;
}

/* Stil för meddelandet */
.message {
  position: fixed;
  top: 2vh; /* Placera längst upp */
  right: 2vw; /* Placera längst till höger */
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 0.5vw 1vw; /* Mindre padding */
  border-radius: 0.5vw; /* Mindre border-radius */
  z-index: 1000;
  font-size: 1.2vw; /* Mindre fontstorlek */
}